*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card{
    border: none;
}

.card-header{
    text-align: center;
    padding-top: 120px;
    background-color: rgb(201, 201, 241);
    border-bottom: 2px solid black;
  }

.card-body{
    text-align: center;
}
.btn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-body .btn{
    background-color: rgb(131, 238, 25);
}
.card-footer{
    text-align: center;
    background-color: #fff;
    border: none;
}

.form{
    text-align: center;
}

.form input{
    margin-top: 15px;
}

.form label{
    margin-top: 12px;
}
.form-check{
    display: flex;
    justify-content: center;
}
